.titulo {
    font-size: 30px;
    text-align: center;
    color: #1a125f;
}

body {
    background: rgb(111, 248, 248);
}

#navegacion {
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(5, 2, 44, 0.932);
    color: #140b36;
    text-decoration: none;
}

#titulo {
    text-shadow: 2px 2px 4px #110253;
    font-size: 50px;
    text-align: center;
    margin-top: 10 px
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
<!--aqui se termina los subtitulos-->

img {
    display: block;
    margin-left: auto;
    margin-right: 50%;
    width: 50%;
}





